:root{
	--salmon-color: #FCBFB8;
  --stronger-color: #f97d6f;
  --beige-color: #fce1b8;
  --font-unica: 'Unica One', cursive;
	--font-julius: 'Julius Sans One', sans-serif;
}

body{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
   text-decoration: overline;
   font-weight: bold;
   color: black;
   }

li, ul{
  list-style-type: none;
  padding-left: 0;
}

footer{
  color: white;
  font-family: var(--font-unica);
  background-color: var(--salmon-color);
  opacity: 0.7;
}

#myNav{
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--salmon-color);
  opacity: 0.8;
}

#myNav a{
  font-family: var(--font-unica);
  font-size: 1.2rem;
  color: white;
  width: 19vw;
}

#myNav a:hover{
   text-decoration: overline;
   }

.navbar-toggler-icon{
color: var(--stronger-color);
}

#home{
	width: 100vw;
  	height: 100vh;
  	background-image: url("../img/Innen.jpg");
  	z-index: 0;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#welcome-page{
  background-color: var(--salmon-color);
  color: white;
  margin: 0 auto;
  line-height: 2;
  height: 100%;
  font-size: 1.1em;
  padding-top: 100px;
}

#parallax, #parallax2{
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax{
	background-image: url("../img/flowers.jpg");
}

#parallax2{
	background-image: url("../img/dress.jpg");
	opacity: 0.5;
}

#agenda a{
  text-decoration: underline;
}

#agenda a:hover{
  text-decoration: overline;
  font-weight: normal;
}

#agenda-part{
  height: 100%;
	padding-top: 100px;
	padding-left: 5vw;
	text-align: left;
  line-height: 1.8;
  margin: 0 auto;
}

#agenda-pic{
  background-image: url("../img/champ3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.agenda-day{
  margin-bottom: 20px;
}

#travel{
  height: 100%;
	padding-top: 100px;
	background-color: #fcf3f2;
	padding-bottom: 10vh;
  line-height: 2;
}

#travel a{
	font-family: var(--font-unica);
	color: var(--stronger-color);
	font-size: 1.2em;
 }

#hotels{
  padding-top: 100px;
	height: 100%;
	padding-bottom: 10vh;
  line-height: 2;
  margin: 0 auto;
}

#hotels a{
	font-size: 1.3em;
	font-family: var(--font-unica);
	color: var(--stronger-color);
 }


.hotel-photo{
  height: 100px;
  width: 140px;
	margin: 0 auto;
	-webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.75);
	border-radius: 7px;
}

.hotels-features ul{
	padding-top: 10px;
	font-size: .9em;
  line-height: 1.1em;
  padding-left: 0;
}

